= simple_form_for @vehicles, url: admin_vehicles_path, defaults: { label: false } do |form|
  - if params[:vehicles].blank?
    = render 'admin/vehicles/form_fields', index: '0', form: form if params[:vehicles].blank?
  - else
    - params[:vehicles].each_with_index do
      = render 'admin/vehicles/form_fields', index: index.to_s, form: form

  %row
    .col-md-12.text-right
      = form.submit
