.row
  .col-md-12.text-right
    = link_to t('vehicles.new'), new_admin_vehicle_path, class: 'btn btn-primary'

%table.table
  %thead
    %th Image
    %th Make
    %th Model
    %th Year
    %th Price
    %th Comment
  %tbody
    = render @vehicles
