.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{ type: 'button', 'data-toggle': 'collapse', 'data-target': 'navbar-responsive-collapse' }
    %span.icon-bar
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to t('.about'), '#about'
      %ul.nav.navbar-nav.pull-right
        %li= link_to t('.Login'), new_admin_session_path
